{% load static %}
<!DOCTYPE html>
<html lang="en">

  <head>

    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta name="description" content="Página de eventos deportivos">
    <meta name="author" content="">

    <title>ABC Eventos Deportivos</title>

    <link rel="icon" href="{% static 'img/icono.png' %}">

    <!-- Bootstrap core CSS -->
    <link href="{% static 'css/bootstrap.min.css' %}" rel="stylesheet">
    <!-- Fuentes de Google -->
    <link href="https://fonts.googleapis.com/css?family=Dosis|Muli|Open+Sans+Condensed:300" rel="stylesheet">
    <!-- Custom styles for this page -->
    <link href="{% static 'css/estilos_dashboard.css' %}" rel="stylesheet">
    <link href="{% static 'css/efectos.css' %}" rel="stylesheet">
    <link href="https://cdnjs.cloudflare.com/ajax/libs/materialize/0.100.2/css/materialize.min.css" rel="stylesheet">
    <!-- Material Icons Google -->
    <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
  </head>



  <body>

    <div id="main-body" style="z-index: -50">
      

      <!--BARRA LATERAL-->
      <ul id="slide-out" class="side-nav fixed">
        <li>
          <div id="encabezado-barra" class="text-white teal darken-2">
            <div class="row justify-content-center">
              <div class="col-12 text-center">
                <img id="avatar-usuario" src="{% static 'img/administrador.png' %}">
                <h5 id="nombre-usuario">Edward Buckley</h5>
                <h6 id="rol-usuario">Administrador</h6>
              </div>
            </div>
          </div>
        </li>

        <!--Botón Inicio-->
        <li><a id="btn-inicio" class="hvr-sweep-to-right waves-effect waves-light" href="/dashboard">
          <i class="material-icons">home</i>Inicio</a>
        </li>

        <!--Botón Iniciar Sesión-->
        <li><a id="btn-iniciar-sesion" class="hvr-sweep-to-right waves-effect waves-light oculto">
          <i class="material-icons">home</i>Iniciar sesión</a></li>


        <!--Botón Cerrar Sesión-->
        <li><a id="btn-cerrar-sesion" class="hvr-sweep-to-right waves-effect waves-light">
          <i class="material-icons">power_settings_new</i>Cerrar sesión</a></li>

        <!--Botón Volver a Página Principal-->
        <li><a id="btn-pag-principal" class="hvr-sweep-to-right waves-effect waves-light oculto" href="index.html">
          <i class="material-icons">arrow_back</i>Página principal</a></li>
      </ul>



      <!--CUERPO DEL DASHBOARD-->
      <div id="main">

        <!--BARRA DE NAVEGACIÓN-->
        <nav>
          <div class="nav-wrapper teal darken-2">
            <a href="#!" class="brand-logo center"><img src="{% static 'img/LogoABC.png' %}" height="60"></a>
            <a href="#" data-activates="slide-out" class="button-collapse"><i class="material-icons">menu</i></a>
          </div>
        </nav>


        <!--**********INICIO*********-->
        <div id="inicio" class="container oculto">
          <div class="row justify-content-center">
            <h2 class="teal-text">Inicio</h2>
          </div>
        </div>


        <!--**********CREAR ACTIVIDAD*********-->
        <div id="crear-actividad" class="container">
          <div class="row justify-content-center">
            <h2 class="teal-text">Crear Actividad</h2>
          </div>

          <div class="row">
            <form name="formularioCrearActividad" class="col s12" onsubmit="return validarFormularioActividad()">

              <div class="row justify-content-center">
                <div class="col-md-8">
                  <div class="input-field col s12">
                    <i class="material-icons prefix">extension</i>
                    <input id="icon_prefix" name="field-nombre-actividad" type="text" class="validate" required="required">
                    <label for="icon_prefix">Nombre de la actividad</label>
                  </div>
                </div>
              </div>


              <div class="row justify-content-center">
                <div class="col-md-6">
                  <div class="input-field col s12">
                    <i class="material-icons prefix">event</i>
                    <input id="evento_al_que_pertenece" name="field-encargado" type="text" class="autocomplete validate" required="required">
                    <label for="evento_al_que_pertenece">Evento al que pertenece</label>
                  </div>
                </div>

                <div class="col-md-6">
                  <div class="input-field col s12">
                    <i class="material-icons prefix">event</i>
                    <input id="icon_prefix" name="field-fecha" type="text" class="datepicker" required="required">
                    <label for="icon_prefix">Fecha</label>
                  </div>
                </div>
              </div>


              <div class="row justify-content-center">
                <div class="col-md-6">
                  <div class="input-field col s12">
                    <i class="material-icons prefix">access_time</i>
                    <input id="icon_prefix" name="field-hora-inicio" type="text" class="timepicker" required="required">
                    <label for="icon_prefix">Hora de Inicio</label>
                  </div>
                </div>

                <div class="col-md-6">
                  <div class="input-field col s12">
                    <i class="material-icons prefix">access_time</i>
                    <input id="icon_prefix" name="field-hora-final" type="text" class="timepicker" required="required">
                    <label for="icon_prefix">Hora Final</label>
                  </div>
                </div>
              </div>



              <div class="row justify-content-center">
                <div class="col-md-2 text-right">
                  <h6>Estado</h6>
                </div>
                <div class="col-md-4">
                  <div class="switch">
                    <label>
                      Inactivo
                      <input type="checkbox" checked>
                      <span class="lever"></span>
                      Activo
                    </label>
                  </div>
                </div>
                <div class="col-md-6"></div>
              </div>

              <div class="row justify-content-center">
                <button class="btn waves-effect waves-light hvr-wobble-skew" type="submit" name="action">Aceptar
                  <i class="material-icons right">event_available</i>
                </button>
              </div>

          </form>       
        </div>
        </div>

        
      </div>

    </div>





    <!-- Bootstrap core JavaScript -->
    <!--<script src="vendor/jquery/jquery.min.js"></script>-->
    <script src="https://code.jquery.com/jquery-3.2.1.js"></script>
    <script src="{% static 'js/popper.min.js' %}"></script>
    <script src="{% static 'js/bootstrap.min.js' %}"></script>
    <!-- Plugin JavaScript -->
    <script src="{% static 'js/jquery.easing.min.js' %}"></script>
    <!-- Custom JavaScript for this theme -->
    <script src="{% static 'js/scrolling-nav.js' %}"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/materialize/0.100.2/js/materialize.min.js"></script>
    <script src="{% static 'js/dashboard.js' %}"></script>


    <script type="text/javascript">
    
    
    function actualizarPagina(rol)
      {
        if(rol == 'Administrador')
        {
          actualizarMenu('Administrador')
        }
        
      	if(rol == 'Gerente')
      	{
      		$('#avatar-usuario').attr("src", "{% static 'img/gerente.png' %}");
      		actualizarMenu('Gerente');
      	}
      	
      	if(rol == 'Operador')
      	{
      		$('#avatar-usuario').attr("src", "{% static 'img/operador.png' %}");
      		actualizarMenu('Operador');
      	}
      	
      	if(rol == 'Participante')
      	{
      		$('#avatar-usuario').attr("src", "{% static 'img/participante.png' %}");
      		actualizarMenu('Participante');
      	}
      	
      	if(rol == 'Usuario Público')
      	{
      		$('#avatar-usuario').attr("src", "{% static 'img/usuario_publico.png' %}");
      		actualizarMenu('Usuario Público');
      	}
      }


      $(document).ready(function(){
        $(".button-collapse").sideNav({
          menuWidth: 250,
          draggable: true,
        });
        $('select').material_select();
        $('.collapsible').collapsible();
        $('input#icon_prefix, textarea#textareaCuerpoNoticia').characterCounter();

        $('input.autocomplete').autocomplete({
          data: {
            "David Belmont": 'https://placehold.it/250x250',
            "Edward Buckley": 'https://placehold.it/250x250',
            "Meredith Colbert": 'https://placehold.it/250x250',
            "Evelyn Gardner": 'https://placehold.it/250x250'
          },
          limit: 20, // The max amount of results that can be shown at once. Default: Infinity.
          onAutocomplete: function(val) {},
          minLength: 1,
        });

        $('#evento_al_que_pertenece.autocomplete').autocomplete({
          data: {
            "Clases de Yoga": 'https://placehold.it/250x250',
            "Softbol Infantil": 'https://placehold.it/250x250',
            "Calisthenics": 'https://placehold.it/250x250',
            "Danza Contemporanea": 'https://placehold.it/250x250',
            "Davivienda Golf Tour": 'https://placehold.it/250x250'
          },
          limit: 20, // The max amount of results that can be shown at once. Default: Infinity.
          onAutocomplete: function(val) {},
          minLength: 1,
        });

        $('.datepicker').pickadate({
          selectMonths: true, // Creates a dropdown to control month
          selectYears: 15, // Creates a dropdown of 15 years to control year,
          close: 'Ok',
          closeOnSelect: true // Close upon selecting a date,
        });

        $('.timepicker').pickatime({
          default: 'now', // Set default time: 'now', '1:30AM', '16:30'
          fromnow: 0,       // set default time to * milliseconds from now (using with default = 'now')
          twelvehour: true, // Use AM/PM or 24-hour format
          donetext: 'OK', // text for done-button
          cleartext: 'Clear', // text for clear-button
          canceltext: 'Cancel', // Text for cancel-button
          autoclose: true, // automatic close timepicker
          ampmclickable: true, // make AM PM clickable
          aftershow: function(){} //Function for after opening timepicker
        });
      });


      //ACTUALIZAR LA PÁGINA DE ACUERDO AL ROL DE CADA USUARIO
      actualizarPagina('Operador');

    </script>

  </body>
</html>