{% load static %}
<!DOCTYPE html>
<html lang="en">

  <head>

    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta name="description" content="Página de eventos deportivos">
    <meta name="author" content="">

    <title>ABC Eventos Deportivos</title>

    <link rel="icon" href="{% static 'img/icono.png' %}">

    <!-- Bootstrap core CSS -->
    <link href="{% static 'css/bootstrap.min.css' %}" rel="stylesheet">
    <!-- Fuentes de Google -->
    <link href="https://fonts.googleapis.com/css?family=Dosis|Muli|Open+Sans+Condensed:300" rel="stylesheet">
    <!-- Custom styles for this page -->
    <link href="{% static 'css/estilos_dashboard.css' %}" rel="stylesheet">
    <link href="{% static 'css/efectos.css' %}" rel="stylesheet">
    <link href="https://cdnjs.cloudflare.com/ajax/libs/materialize/0.100.2/css/materialize.min.css" rel="stylesheet">
    <!-- Material Icons Google -->
    <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
  </head>



  <body>

    <div id="main-body" style="z-index: -50">
      

      <!--BARRA LATERAL-->
      <ul id="slide-out" class="side-nav fixed">
        <li>
          <div id="encabezado-barra" class="text-white teal darken-2">
            <div class="row justify-content-center">
              <div class="col-12 text-center">
                <img id="avatar-usuario" src="{% static 'img/administrador.png' %}">
                <h5 id="nombre-usuario">Edward Buckley</h5>
                <h6 id="rol-usuario">Administrador</h6>
              </div>
            </div>
          </div>
        </li>

        <!--Botón Inicio-->
        <li><a id="btn-inicio" class="hvr-sweep-to-right waves-effect waves-light" href="/dashboard">
          <i class="material-icons">home</i>Inicio</a>
        </li>

        <!--Botón Iniciar Sesión-->
        <li><a id="btn-iniciar-sesion" class="hvr-sweep-to-right waves-effect waves-light oculto">
          <i class="material-icons">home</i>Iniciar sesión</a></li>

       

        <!--Botón Cerrar Sesión-->
        <li><a id="btn-cerrar-sesion" class="hvr-sweep-to-right waves-effect waves-light">
          <i class="material-icons">power_settings_new</i>Cerrar sesión</a></li>

        <!--Botón Volver a Página Principal-->
        <li><a id="btn-pag-principal" class="hvr-sweep-to-right waves-effect waves-light oculto" href="index.html">
          <i class="material-icons">arrow_back</i>Página principal</a></li>
      </ul>



      <!--CUERPO DEL DASHBOARD-->
      <div id="main">

        <!--BARRA DE NAVEGACIÓN-->
        <nav>
          <div class="nav-wrapper teal darken-2">
            <a href="#!" class="brand-logo center"><img src="{% static 'img/LogoABC.png' %}" height="60"></a>
            <a href="#" data-activates="slide-out" class="button-collapse"><i class="material-icons">menu</i></a>
          </div>
        </nav>


        <!--**********INICIO*********-->
        <div id="inicio" class="container oculto">
          <div class="row justify-content-center">
            <h2 class="teal-text">Inicio</h2>
          </div>
        </div>

        <!--**********MI INFORMACIÓN*********-->
        <div id="mi-info" class="container oculto">
          <div class="row justify-content-center">
            <h2 class="teal-text">Mi Información</h2>
          </div>
        </div>

        <!--**********CREAR USUARIO*********-->
        <div id="crear-usuario" class="container oculto">
          <div class="row justify-content-center">
            <h2 class="teal-text">Crear Usuario</h2>
          </div>
          <div class="row">
            <form name="formularioCrearUsuario" class="col s12" onsubmit="return validarFormularioUsuarios()">
              <div class="row justify-content-center">
                <div class="col-md-8">
                  <div id="field-foto" class="file-field input-field">
                    <div class="btn waves-effect waves-light hvr-wobble-skew">
                      <span>Foto</span>
                      <i class="material-icons">add_a_photo</i>
                      <input type="file">
                    </div>
                    <div class="file-path-wrapper">
                      <input class="file-path validate" type="text" placeholder="Selecciona una foto de perfil">
                    </div>
                  </div>
                </div>
              </div>

              <div class="row justify-content-center">
                <div class="col-md-6">
                  <div class="input-field col s12">
                    <i class="material-icons prefix">person</i>
                    <input id="icon_prefix" name="field-nombres" type="text" class="validate" required="required">
                    <label for="icon_prefix">Nombres</label>
                  </div>
                </div>

                <div class="col-md-6">
                  <div class="input-field col s12">
                    <i class="material-icons prefix">person</i>
                    <input id="icon_prefix" name="field-apellidos" type="text" class="validate" required="required">
                    <label for="icon_prefix">Apellidos</label>
                  </div>
                </div>
              </div>


              <div class="row justify-content-center">
                <div class="col-md-6">
                  <div class="input-field col s12">
                    <i class="material-icons prefix">account_circle</i>
                    <input id="icon_prefix" name="field-nickname" type="text" class="validate" required="required">
                    <label for="icon_prefix">Nickname</label>
                  </div>
                </div>

                <div class="col-md-6">
                  <div class="input-field col s12">
                    <i class="material-icons prefix">lock_outline</i>
                    <input id="icon_prefix" name="field-password" type="password" class="validate" required="required">
                    <label for="icon_prefix">Contraseña</label>
                  </div>
                </div>
              </div>


              <div class="row justify-content-center">
                <div class="col-md-7">
                  <div class="input-field col s12">
                    <i class="material-icons prefix">email</i>
                    <input id="email" type="email" class="validate" required="required">
                    <label for="email" data-error="Incorrecto" data-success="Correcto">Email</label>
                  </div>
                </div>

                <div class="col-md-5">
                  <div class="row">
                    <i class="material-icons">face</i>
                    <label>Edad</label>
                  </div>
                  <div class="row">
                    <div class="col s12">
                      <p class="range-field">
                        <input type="range" id="field-edad" min="5" max="100" />
                      </p>
                    </div>
                  </div>
                </div>
              </div>


              <div class="row justify-content-center">
                <div class="col-md-6">
                  <div class="input-field col s12">
                    <i class="material-icons prefix">wc</i>
                    <select id="select-genero">
                      <option value="" disabled selected>Selecciona una opción</option>
                      <option id="opc-femenino" value="1">Femenino</option>
                      <option value="2">Masculino</option>
                    </select>
                    <label>Género</label>
                  </div>
                </div>

                <div class="col-md-6">
                  <div class="input-field col s12">
                    <i class="material-icons prefix">people</i>
                    <select>
                      <option value="" disabled selected>Selecciona una opción</option>
                      <option value="1">Gerente</option>
                      <option value="2">Operador</option>
                      <option value="3">Participante</option>
                    </select>
                    <label>Rol</label>
                  </div>
                </div>
              </div>


              <div class="row justify-content-center">
                <div class="col-md-2 text-right">
                  <h6>Estado</h6>
                </div>
                <div class="col-md-4">
                  <div class="switch">
                    <label>
                      Inactivo
                      <input type="checkbox" checked>
                      <span class="lever"></span>
                      Activo
                    </label>
                  </div>
                </div>
                <div class="col-md-6"></div>
              </div>

              <div class="row justify-content-center">
                <button class="btn waves-effect waves-light hvr-wobble-skew" type="submit" name="action">Aceptar
                  <i class="material-icons right">person_add</i>
                </button>
              </div>

          </form>       
        </div>
      </div>


        <!--**********LISTAR USUARIO*********-->
        <div id="listar-usuarios" class="container oculto">
          <div class="row justify-content-center">
            <h2 class="teal-text">Listar Usuarios</h2>
          </div>
        </div>

        <!--**********CREAR EVENTO*********-->
        <div id="crear-evento" class="container oculto">
          <div class="row justify-content-center">
            <h2 class="teal-text">Crear Evento</h2>
          </div>
          <div class="row">
            <form name="formularioCrearEvento" class="col s12" onsubmit="return validarFormularioEventos()">

              <div class="row justify-content-center">
                <div class="col-md-6">
                  <div class="input-field col s12">
                    <i class="material-icons prefix">event</i>
                    <input id="icon_prefix" name="field-nombre-evento" type="text" class="validate" required="required">
                    <label for="icon_prefix">Nombre del evento</label>
                  </div>
                </div>

                <div class="col-md-6">
                  <div class="input-field col s12">
                    <i class="material-icons prefix">directions_bike</i>
                    <select id="select-genero">
                      <option value="" disabled selected>Selecciona una opción</option>
                      <option value="1" data-icon="{% static 'img/dep_ajedrez.png' %}" class="left circle">Ajedrez</option>
                      <option value="2" data-icon="{% static 'img/dep_artes_marciales.png' %}" class="left circle">Artes Marciales</option>
                      <option value="3" data-icon="{% static 'img/dep_atletismo.png' %}" class="left circle">Atletismo</option>
                      <option value="4" data-icon="{% static 'img/dep_baile.png' %}" class="left circle">Baile</option>
                      <option value="5" data-icon="{% static 'img/dep_baloncesto.png' %}" class="left circle">Baloncesto</option>
                      <option value="6" data-icon="{% static 'img/dep_beisbol.png' %}" class="left circle">Beisbol</option>
                      <option value="7" data-icon="{% static 'img/dep_bolos.png' %}" class="left circle">Bolos</option>
                      <option value="8" data-icon="{% static 'img/dep_boxeo.png' %}" class="left circle">Boxeo</option>
                      <option value="9" data-icon="{% static 'img/dep_ciclismo.png' %}" class="left circle">Ciclismo</option>
                      <option value="10" data-icon="{% static 'img/dep_esgrima.png' %}" class="left circle">Esgrima</option>
                      <option value="11" data-icon="{% static 'img/dep_futbol.png' %}" class="left circle">Futbol</option>
                      <option value="12" data-icon="{% static 'img/dep_gimnasia.png' %}" class="left circle">Gimnasia</option>
                      <option value="13" data-icon="{% static 'img/dep_golf.png' %}" class="left circle">Golf</option>
                      <option value="14" data-icon="{% static 'img/dep_hockey.png' %}" class="left circle">Hockey</option>
                      <option value="15" data-icon="{% static 'img/dep_kayak.png' %}" class="left circle">Kayak</option>
                      <option value="16" data-icon="{% static 'img/dep_levantamiento_pesas.png' %}" class="left circle">Levantamiento de Pesas</option>
                      <option value="17" data-icon="{% static 'img/dep_natacion.png' %}" class="left circle">Natación</option>
                      <option value="18" data-icon="{% static 'img/dep_paintball.png' %}" class="left circle">Paintball</option>
                      <option value="19" data-icon="{% static 'img/dep_paracaidismo.png' %}" class="left circle">Paracaidismo</option>
                      <option value="20" data-icon="{% static 'img/dep_patinaje.png' %}" class="left circle">Patinaje</option>
                      <option value="21" data-icon="{% static 'img/dep_rugby.png' %}" class="left circle">Rugby</option>
                      <option value="22" data-icon="{% static 'img/dep_skateboarding.png' %}" class="left circle">Skateboarding</option>
                      <option value="23" data-icon="{% static 'img/dep_tenis.png' %}" class="left circle">Tenis</option>
                      <option value="24" data-icon="{% static 'img/dep_voleibol.png' %}" class="left circle">Voleibol</option>
                      <option value="25" data-icon="{% static 'img/dep_yoga.png' %}" class="left circle">Yoga</option>
                    </select>
                    <label>Tipo de deporte</label>
                  </div>
                </div>
              </div>


              <div class="row justify-content-center">
                <div class="col-md-6">
                  <div class="input-field col s12">
                    <i class="material-icons prefix">location_city</i>
                    <select id="select-ciudad">
                      <option value="" disabled selected>Selecciona una ciudad</option>
                      <option value="1">Armenia</option>
                      <option value="2">Barranquilla</option>
                      <option value="3">Bogotá</option>
                      <option value="4">Bucaramanga</option>
                      <option value="5">Buenaventura</option>
                      <option value="6">Cali</option>
                      <option value="7">Cartagena</option>
                      <option value="8">Córdoba</option>
                      <option value="9">Cúcuta</option>
                      <option value="10">Envigado</option>
                      <option value="11">Ibagué</option>
                      <option value="12">Manizales</option>
                      <option value="13">Medellin</option>
                      <option value="14">Montería</option>
                      <option value="15">Palmira</option>
                      <option value="16">Pasto</option>
                      <option value="17">Pereira</option>
                      <option value="18">Popayan</option>
                      <option value="19">Santa Marta</option> 
                      <option value="20">Tuluá</option>
                      <option value="21">Valledupar</option>
                      <option value="22">Villavicencio</option>
                      <option value="23">Yumbo</option>
                    </select>
                    <label>Ciudad</label>
                  </div>
                </div>

                <div class="col-md-6">
                  <div class="input-field col s12">
                    <i class="material-icons prefix">location_on</i>
                    <input id="icon_prefix" name="field-lugar" type="text" class="validate" required="required">
                    <label for="icon_prefix">Lugar</label>
                  </div>
                </div>
              </div>


              <div class="row justify-content-center">
                <div class="col-md-6">
                  <div class="input-field col s12">
                    <i class="material-icons prefix">monetization_on</i>
                    <input id="icon_prefix" name="field-precio-evento" type="number" data-length="7" class="validate" required="required">
                    <label for="icon_prefix">Precio del evento</label>
                  </div>
                </div>

                <div class="col-md-6">
                  <div class="input-field col s12">
                    <i class="material-icons prefix">group</i>
                    <input id="icon_prefix" name="field-num-participantes" type="number" data-length="4" class="validate" required="required">
                    <label for="icon_prefix">Cantidad de Participantes</label>
                  </div>
                </div>
              </div>


              <div class="row justify-content-center">
                <div class="col-md-6">
                  <div class="input-field col s12">
                    <i class="material-icons prefix">event</i>
                    <input id="icon_prefix" name="field-fecha" type="text" class="datepicker" required="required">
                    <label for="icon_prefix">Fecha de Inicio</label>
                  </div>
                </div>

                <div class="col-md-6">
                  <div class="input-field col s12">
                    <i class="material-icons prefix">access_time</i>
                    <input id="icon_prefix" name="field-hora" type="text" class="timepicker" required="required">
                    <label for="icon_prefix">Hora de Inicio</label>
                  </div>
                </div>
              </div>


              <div class="row justify-content-center">
                <div class="col-md-6">
                  <div class="input-field col s12">
                    <i class="material-icons prefix">face</i>
                    <input id="icon_prefix" name="field-encargado" type="text" class="autocomplete validate" required="required">
                    <label for="icon_prefix">Encargado</label>
                  </div>
                </div>

                <div class="col-md-6">
                  <div class="input-field col s12">
                    <i class="material-icons prefix">block</i>
                    <input id="icon_prefix" name="field-restricciones" type="text" class="validate" required="required">
                    <label for="icon_prefix">Restricciones</label>
                  </div>
                </div>
              </div>


              <div class="row justify-content-center">
                <div class="col-md-2 text-right">
                  <h6>Estado</h6>
                </div>
                <div class="col-md-4">
                  <div class="switch">
                    <label>
                      Inactivo
                      <input type="checkbox" checked>
                      <span class="lever"></span>
                      Activo
                    </label>
                  </div>
                </div>
                <div class="col-md-6"></div>
              </div>

              <div class="row justify-content-center">
                <button class="btn waves-effect waves-light hvr-wobble-skew" type="submit" name="action">Aceptar
                  <i class="material-icons right">event_available</i>
                </button>
              </div>

          </form>       
        </div>

        </div>

        <!--**********LISTAR EVENTOS*********-->
        <div id="listar-eventos" class="container oculto">
          <div class="row justify-content-center">
            <h2 class="teal-text">Listar Eventos</h2>
          </div>
        </div>

        <!--**********DASHBOARD EVENTOS*********-->
        <div id="dashboard-eventos" class="container oculto">
          <div class="row justify-content-center">
            <h2 class="teal-text">Dashboard Eventos</h2>
          </div>
        </div>

        <!--**********CREAR ACTIVIDAD*********-->
        <div id="crear-actividad" class="container oculto">
          <div class="row justify-content-center">
            <h2 class="teal-text">Crear Actividad</h2>
          </div>

          <div class="row">
            <form name="formularioCrearActividad" class="col s12" onsubmit="return validarFormularioActividad()">

              <div class="row justify-content-center">
                <div class="col-md-8">
                  <div class="input-field col s12">
                    <i class="material-icons prefix">extension</i>
                    <input id="icon_prefix" name="field-nombre-actividad" type="text" class="validate" required="required">
                    <label for="icon_prefix">Nombre de la actividad</label>
                  </div>
                </div>
              </div>


              <div class="row justify-content-center">
                <div class="col-md-6">
                  <div class="input-field col s12">
                    <i class="material-icons prefix">event</i>
                    <input id="evento_al_que_pertenece" name="field-encargado" type="text" class="autocomplete validate" required="required">
                    <label for="evento_al_que_pertenece">Evento al que pertenece</label>
                  </div>
                </div>

                <div class="col-md-6">
                  <div class="input-field col s12">
                    <i class="material-icons prefix">event</i>
                    <input id="icon_prefix" name="field-fecha" type="text" class="datepicker" required="required">
                    <label for="icon_prefix">Fecha</label>
                  </div>
                </div>
              </div>


              <div class="row justify-content-center">
                <div class="col-md-6">
                  <div class="input-field col s12">
                    <i class="material-icons prefix">access_time</i>
                    <input id="icon_prefix" name="field-hora-inicio" type="text" class="timepicker" required="required">
                    <label for="icon_prefix">Hora de Inicio</label>
                  </div>
                </div>

                <div class="col-md-6">
                  <div class="input-field col s12">
                    <i class="material-icons prefix">access_time</i>
                    <input id="icon_prefix" name="field-hora-final" type="text" class="timepicker" required="required">
                    <label for="icon_prefix">Hora Final</label>
                  </div>
                </div>
              </div>



              <div class="row justify-content-center">
                <div class="col-md-2 text-right">
                  <h6>Estado</h6>
                </div>
                <div class="col-md-4">
                  <div class="switch">
                    <label>
                      Inactivo
                      <input type="checkbox" checked>
                      <span class="lever"></span>
                      Activo
                    </label>
                  </div>
                </div>
                <div class="col-md-6"></div>
              </div>

              <div class="row justify-content-center">
                <button class="btn waves-effect waves-light hvr-wobble-skew" type="submit" name="action">Aceptar
                  <i class="material-icons right">event_available</i>
                </button>
              </div>

          </form>       
        </div>
        </div>

        <!--**********LISTAR ACTIVIDADES*********-->
        <div id="listar-actividades" class="container oculto">
          <div class="row justify-content-center">
            <h2 class="teal-text">Listar Actividades</h2>
          </div>
        </div>

        <!--**********CALENDARIO ACTIVIDADES*********-->
        <div id="calendario-actividades" class="container oculto">
          <div class="row justify-content-center">
            <h2 class="teal-text">Calendario Actividades</h2>
          </div>
        </div>

        <!--**********CREAR NOTICIA*********-->
        <div id="crear-noticia" class="container">
          <div class="row justify-content-center">
            <h2 class="teal-text">Crear Noticia</h2>
          </div>

          <div class="row">
            <!--<form name="formularioCrearNoticia" class="col s12" onsubmit="return validarFormularioNoticia()">-->
            <form name="formularioCrearNoticia" class="col s12" method="POST"  enctype="multipart/form-data">{% csrf_token %}
          
                    <div class="row justify-content-center">
                      <div class="col-md-8">
                        <div id="field-foto-noticia" class="file-field input-field">
                          <div class="btn waves-effect waves-light hvr-wobble-skew">
                            <span>Foto</span>
                            <i class="material-icons">add_a_photo</i>
                        
                            <input type="file">
                          </div>
                            <div class="file-path-wrapper">
                               <!--{{form}}-->
                              <input class="file-path validate" type="text" placeholder="Selecciona una foto para la noticia" value="{{ ver_noticia.imagen }}">
                            </div>
                        </div>
                      </div>
                  </div>  
                     <!--info  titu</-->
                      <div class="row justify-content-center">
                          <div class="col-md-6">
                            <div class="input-field col s12">
                              <i class="material-icons prefix">receipt</i>
                              <input id="icon_prefix" name="field-titulo" type="text" class="validate" required="required" value="{{ ver_noticia.titulo }}">
                              <label for="icon_prefix">Título</label>
                            </div>
                          </div>
                        <div class="col-md-6">
                            <div class="input-field col s12">
                              <i class="material-icons prefix">label_outline</i>
                               
                               <input id="icon_prefix" name="field-copete" type="text" class="validate" required="required"  value="{{ ver_noticia.copete }}">
                                <label for="icon_prefix">Copete</label>
                              </div>
                            </div>
                          </div>

                        <!--info  copete</-->
                          <!--info  fecha</-->
                          <div class="row justify-content-center">
                            <div class="col-md-6">
                              <div class="input-field col s12">
                                <i class="material-icons prefix">event</i>
                                <input id="icon_prefix" name="field-fecha-noticia" type="text" class="datepicker" required="required" value="{{ ver_noticia.fecha }}" >
                               <label for="icon_prefix">Fecha</label>
                              </div>
                           </div>
                          
                            <!--info  autor</-->
                            <div class="col-md-6">
                              <div class="input-field col s12">
                                <i class="material-icons prefix">face</i>
                                
                                <input id="icon_prefix" name="field-autor" type="text" class="autocomplete validate" required="required" value="{{ ver_noticia.autor }}">
                                <label for="icon_prefix">Autor</label>
                              </div>
                            </div>
                            </div>
                               <!--info  cuerpo</-->
                                <div class="row justify-content-center">
                                  <div class="col-md-10">
                                    <div class="input-field col s12">
                                      <i class="material-icons prefix">assignment</i>
                                      <textarea id="textareaCuerpoNoticia" class="materialize-textarea validate" data-length="420000" >{{ver_noticia.cuerpo}} </textarea>
                                      <label for="textareaCuerpoNoticia">Cuerpo de la noticia</label>
                                    </div>
                                  </div>
                            </div>
                              <div class="row justify-content-center">
                                <div class="col-md-2 text-right">
                                  <h6>Estado</h6>
                                </div>
                                <div class="col-md-4">
                                  <div class="switch">
                                    <label>
                                      Inactivo
                                    <input name="estado" type="checkbox" checked >
                                    <span class="lever"></span>
                                      Activo
                                    </label>
                                  </div>
                                </div>
                                <div class="col-md-6"></div>
                            </div>
                            
          <div class="row justify-content-center">
                <button class="btn waves-effect waves-light hvr-wobble-skew" type="submit" name="action"  >Aceptar
                  <i class="material-icons right">note_add</i>
                </button>
              </div>
          </form>       
        </div>
        </div>

        <!--**********LISTAR NOTICIAS*********-->
        <div id="listar-noticias" class="container oculto">
          <div class="row justify-content-center">
            <h2 class="teal-text">Listar Noticias</h2>
          </div>
        </div>
        
      </div>

    </div>





    <!-- Bootstrap core JavaScript -->
    <!--<script src="vendor/jquery/jquery.min.js"></script>-->
    <script src="https://code.jquery.com/jquery-3.2.1.js"></script>
    <script src="{% static 'js/popper.min.js' %}"></script>
    <script src="{% static 'js/bootstrap.min.js' %}"></script>
    <!-- Plugin JavaScript -->
    <script src="{% static 'js/jquery.easing.min.js' %}"></script>
    <!-- Custom JavaScript for this theme -->
    <script src="{% static 'js/scrolling-nav.js' %}"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/materialize/0.100.2/js/materialize.min.js"></script>
    <script src="{% static 'js/dashboard.js' %}"></script>


    <script type="text/javascript">
    
    
    function actualizarPagina(rol)
      {
        if(rol == 'Administrador')
        {
          actualizarMenu('Administrador')
        }
        
      	if(rol == 'Gerente')
      	{
      		$('#avatar-usuario').attr("src", "{% static 'img/gerente.png' %}");
      		actualizarMenu('Gerente');
      	}
      	
      	if(rol == 'Operador')
      	{
      		$('#avatar-usuario').attr("src", "{% static 'img/operador.png' %}");
      		actualizarMenu('Operador');
      	}
      	
      	if(rol == 'Participante')
      	{
      		$('#avatar-usuario').attr("src", "{% static 'img/participante.png' %}");
      		actualizarMenu('Participante');
      	}
      	
      	if(rol == 'Usuario Público')
      	{
      		$('#avatar-usuario').attr("src", "{% static 'img/usuario_publico.png' %}");
      		actualizarMenu('Usuario Público');
      	}
      }


      $(document).ready(function(){
        $(".button-collapse").sideNav({
          menuWidth: 250,
          draggable: true,
        });
        $('select').material_select();
        $('.collapsible').collapsible();
        $('input#icon_prefix, textarea#textareaCuerpoNoticia').characterCounter();

        $('input.autocomplete').autocomplete({
          data: {
            "David Belmont": 'https://placehold.it/250x250',
            "Edward Buckley": 'https://placehold.it/250x250',
            "Meredith Colbert": 'https://placehold.it/250x250',
            "Evelyn Gardner": 'https://placehold.it/250x250'
          },
          limit: 20, // The max amount of results that can be shown at once. Default: Infinity.
          onAutocomplete: function(val) {},
          minLength: 1,
        });

        $('#evento_al_que_pertenece.autocomplete').autocomplete({
          data: {
            "Clases de Yoga": 'https://placehold.it/250x250',
            "Softbol Infantil": 'https://placehold.it/250x250',
            "Calisthenics": 'https://placehold.it/250x250',
            "Danza Contemporanea": 'https://placehold.it/250x250',
            "Davivienda Golf Tour": 'https://placehold.it/250x250'
          },
          limit: 20, // The max amount of results that can be shown at once. Default: Infinity.
          onAutocomplete: function(val) {},
          minLength: 1,
        });

        $('.datepicker').pickadate({
          selectMonths: true, // Creates a dropdown to control month
          selectYears: 15, // Creates a dropdown of 15 years to control year,
          close: 'Ok',
          closeOnSelect: true // Close upon selecting a date,
        });

        $('.timepicker').pickatime({
          default: 'now', // Set default time: 'now', '1:30AM', '16:30'
          fromnow: 0,       // set default time to * milliseconds from now (using with default = 'now')
          twelvehour: true, // Use AM/PM or 24-hour format
          donetext: 'OK', // text for done-button
          cleartext: 'Clear', // text for clear-button
          canceltext: 'Cancel', // Text for cancel-button
          autoclose: true, // automatic close timepicker
          ampmclickable: true, // make AM PM clickable
          aftershow: function(){} //Function for after opening timepicker
        });
      });


      //ACTUALIZAR LA PÁGINA DE ACUERDO AL ROL DE CADA USUARIO
      actualizarPagina('{{ usu_rol.rol }}');

    </script>

  </body>
</html>