{% load static %}
<!DOCTYPE html>
<html lang="en">

  <head>

    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta name="description" content="Página de eventos deportivos">
    <meta name="author" content="">

    <title>ABC Eventos Deportivos</title>

    <link rel="icon" href="{% static 'img/icono.png' %}">

    <!-- Bootstrap core CSS -->
    <link href="{% static 'css/bootstrap.min.css' %}" rel="stylesheet">
    <!-- Fuentes de Google -->
    <link href="https://fonts.googleapis.com/css?family=Dosis|Muli|Open+Sans+Condensed:300" rel="stylesheet">
    <!-- Custom styles for this page -->
    <link href="{% static 'css/estilos_dashboard.css' %}" rel="stylesheet">
    <link href="{% static 'css/efectos.css' %}" rel="stylesheet">
    <link href="https://cdnjs.cloudflare.com/ajax/libs/materialize/0.100.2/css/materialize.min.css" rel="stylesheet">
    <!-- Material Icons Google -->
    <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
    <!--JSGrid para Tablas-->
    <link type="text/css" rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/jsgrid/1.5.3/jsgrid.min.css" />
    <link type="text/css" rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/jsgrid/1.5.3/jsgrid-theme.min.css" />
    
    <style type="text/css">
    
      .collapsible-header{
        padding-top:9px;
        padding-bottom:9px;
      }
      
      .collapsible-header > img{
        padding-right:10px;
      }
    </style>
  </head>



  <body> 
    <table class="jsgrid-table">
       <tr class="jsgrid-header-row">
	        <th class="jsgrid-header-cell jsgrid-control-field jsgrid-align-center" style="width: 100px;"></th>
	        <th class="jsgrid-header-cell jsgrid-header-sortable" style="width: 150px;">Nombre</th>
	        <th class="jsgrid-header-cell jsgrid-header-sortable" style="width: 200px;">Evento</th>
	        <th class="jsgrid-header-cell jsgrid-header-sortable" style="width: 150px;">Fecha</th>
	        <th class="jsgrid-header-cell jsgrid-header-sortable" style="width: 200px;">Hora de inicio</th>
	        <th class="jsgrid-header-cell jsgrid-header-sortable" style="width: 200px;">Hora de cierre</th>
	</tr>
    <tr class="jsgrid-filter-row" style="display: none;">
	    <td class="jsgrid-cell jsgrid-control-field jsgrid-align-center" style="width: 50px;">
	        <input class="jsgrid-button jsgrid-search-button" type="button" title="Search">
	        <input class="jsgrid-button jsgrid-clear-filter-button" type="button" title="Clear filter">
	</td>
	<td class="jsgrid-cell" style="width: 150px;">
		<input type="text"></td>
	<td class="jsgrid-cell" style="width: 200px;">
		<input type="text">
	</td>
	<td class="jsgrid-cell" style="width: 150px;">
	</td>
	<td class="jsgrid-cell" style="width: 200px;">
		<input type="text"></td>
</tr>
<tr class="jsgrid-insert-row" style="display: none;">
		<td class="jsgrid-cell jsgrid-control-field jsgrid-align-center" style="width: 50px;">
			<input class="jsgrid-button jsgrid-insert-button" type="button" title="Insert">
		</td>
		<td class="jsgrid-cell" style="width: 150px;">
			<input type="text">
		</td>
		<td class="jsgrid-cell" style="width: 200px;">
			<input type="text"></td><td class="jsgrid-cell" style="width: 150px;">
		</td>
	<td class="jsgrid-cell" style="width: 200px;"><input type="text"></td>
</tr>
</table>
    <table class="jsgrid-table">
    {% for acti in actividades_l %}
    {# Each "contact" is a Contact model object. #}
        <tr>
            <td class="jsgrid-cell jsgrid-control-field jsgrid-align-center" style="width: 100px;">
			    <input value="Modificar" type="button" title="Edit" onclick="window.top.location.href = '{% url 'deportes:formulario-actividades-update'  acti.id %}'">
		    </td>
           <td class="jsgrid-cell" style="width: 150px;">{{acti.nombre}}</td>
           <td class="jsgrid-cell" style="width: 200px;">{{acti.id_evento.titulo}}</td>
           <td class="jsgrid-cell" style="width: 150px;">{{acti.id_evento.fechaInicio}}</td>
           <td class="jsgrid-cell" style="width: 200px;">{{acti.horaInicio}}</td>
            <td class="jsgrid-cell" style="width: 200px;">{{acti.horaFinal}}</td>
        </tr>           
    {% endfor %}
    </tbody>
    </table>
    
    
    
<div class="pagination">
    <span class="step-links">
        {% if actividades_l.has_previous %}
            <a href="?page={{ actividades_l.previous_page_number }}">previous</a>
        {% endif %}

        <span class="current">
            Page {{ actividades_l.number }} of {{ actividades_l.paginator.num_pages }}.
        </span>

        {% if actividades_l.has_next %}
            <a href="?page={{ actividades_l.next_page_number }}">next</a>
        {% endif %}
    </span>
</div>
      

  </body>
</html>      
